---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Sidebar from '../components/Sidebar.astro'; 
import ProfileCard from '../components/ProfileCard.astro';

---

<!doctype html>
<html lang="en">
	<head>
        <BaseHead title="Community" description={SITE_DESCRIPTION} />

	</head>
	<body>
		<Header />
		<div class="content-wrapper">
            <main>
                <h1>Community</h1>
                <p>Apu has a lot of frens. Check what they are building in the Apuverse.</p>

				<section class="profiles">
					
					<ProfileCard 
					name="Apu.com" 
					description="Official Apu Coin & NFT collection" 
					imgSrc="/apu-logo.png" 
					imgAlt="Apu Apustaja $APU Logo"
					links={[
					  { text: "Apu.com", href: "https://apu.com" },
					  { text: "X", href: "https://x.com/apuscoin" }
					]}
				  />

				  <ProfileCard 
				  name="PondTalk" 
				  description="Hosting the Apu Podcast" 
				  links={[
					{ text: "Twitch", href: "https://twitch.com/pondtalk" },
					{ text: "YouTube", href: "https://youtube.com/@PondTalk" } ,
					{ text: "X", href: "https://x.com/blewapu" } ,
					
				  ]}
				/>
				  
				<ProfileCard 
				name="NFT Ranker" 
				description="Rate your favorite Apu Apustajas. Hot or not?" 
				links={[
				  { text: "Website", href: "https://nftranker.io/" }
				]}
			  />
			  
			  <ProfileCard 
				name="Poo Strategy" 
				description="The world's first billion dollar meme reserve." 
				links={[
				  { text: "Website", href: "https://poostrategy.com/" }
				]}
			  />
			  
			  <ProfileCard 
				name="Apu Apustajas NFT Collection" 
				description="Official collection of Apu Apustajas NFTs." 
				links={[
				  { text: "OpenSea", href: "https://opensea.io/collection/apuapustajas" }
				]}
			  />
			  
			  <ProfileCard 
				name="Ron" 
				description="Creator of the Apu Apustajas NFT Collection." 
				links={[
				  { text: "Linktree", href: "https://linktr.ee/TheRoon" }
				]}
			  />
			  
			  <ProfileCard 
				name="Apustajachan" 
				description="Creator of the Apustaja World video game." 
				links={[
				  { text: "Linktree", href: "https://linktr.ee/apustajachan" }
				]}
			  />
			  
			  <ProfileCard 
				name="gigAPUmp" 
				description="Apu 3D video maker." 
				links={[
				  { text: "YouTube", href: "https://www.youtube.com/@CasioF91W_DB" }
				]}
			  />
			  
			  <ProfileCard 
				name="Dune Dashboard" 
				description="Market insights and analytics for Apu Coin." 
				links={[
				  { text: "View Dashboard", href: "https://dune.com/joshua25/apu-apustaja" }
				]}
			  />
			  
			  <ProfileCard 
				name="Apu Music" 
				description="Listen to Apu on your favorite platform." 
				links={[
				  { text: "Spotify", href: "https://open.spotify.com/playlist/37i9dQZF1DZ06evO4nJWeK" },
				  { text: "Apple Music", href: "https://music.apple.com/us/artist/apu-apustaja/1741104271" }
				]}
			  />
			  
			  <ProfileCard 
				name="Teek" 
				description="Custom Apu paintings." 
				links={[
				  { text: "X", href: "https://x.com/ApteekkiApu" }
				]}
			  />
			  
			  <ProfileCard 
				name="Wen Memes" 
				description="Apu merchandise shop." 
				links={[
				  { text: "Website", href: "https://wenmemes.shop/" }
				]}
			  />
			  
			  



					
					
				  </section>
            </main>
              
              
              
			<Sidebar />
		</div>
		<Footer />

	</body>
</html>